  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{selectedCurrency}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a
      *ngFor="let currency of currencies"
      class="dropdown-item" href="#"
    >
      <span
        class="selected-currency"
        (click)="selectCurrency(currency.code, currency.name)"
      >
        {{currency.name}}
      </span>
    </a>
  </div>
</div>
