<div class="container">
    <div class="coin">
      <select (change)="selectCoin($event.target.label, $event.target.value)">
        <option
          *ngFor="let coin of coins"
          [label]="coin.name"
          [value]="coin.id"
          >
        </option>
      </select>
    </div>
    <div class="date">
      <input
        class="input"
        type="date"
        placeholder="what date"
        (change)="selectDate($event.target.value)">
    </div>
    <div class="quantity">
      <input
        type="number"
        placeholder="how many"
        (change)="selectQuantity($event.target.value)">
    </div>
    <button type="button" class="submit-btn" type="submit" (click)="calculate()">Calculate</button>
    <p>
      You bought {{selectedQuantity}} {{selectedCoin}} on {{selectedDate}}
    </p>
    <p *ngIf="percentageDifference">
      Percentage difference is {{percentageDifference}}%
    </p>
    <p *ngIf="priceResult">
      Price difference is €{{priceResult}}
    </p>
</div>
<router-outlet></router-outlet>
