<div class="container"
  [ngClass]="(returnPrice < 0) ? 'negative-return' : 'positive-return'"
  >
    <app-currency-select (currencySelect)="selectCurrency($event)" (symbolSelect)="selectSymbol($event)"></app-currency-select>
    <app-coin-select (coinSelect)="selectCoin($event)"></app-coin-select>
    <app-date-select (dateSelect)="selectDate($event)"></app-date-select>
    <app-quantity-select (quantitySelect)="selectQuantity($event)"></app-quantity-select>
    <button type="button" class="btn btn-warning submit-btn" type="submit" (click)="calculateReturn()">Calculate gain/loss</button>
    <app-results-panel
      *ngIf="calculated"
      returnPercent="{{returnPercent}}"
      returnPrice="{{returnPrice}}"
      selectedCoin="{{selectedCoin}}"
      selectedDate="{{selectedDate}}"
      selectedQuantity="{{selectedQuantity}}"
    ></app-results-panel>
</div>
<router-outlet></router-outlet>
